<!-- create comment form -->

<% if(locals.user) { %>
<form
  action="/comments/create"
  method="POST"
  class="add-comment-form"
  id="comment-form-<%= post._id %>"
>
  <input type="text" name="content" placeholder="Type Comment Here..." autocomplete="off" />
  <!-- post id is sent in hidden way -->
  <input type="hidden" name="post" value="<%= post._id %>" />
  <button type="submit" class="button">Comment</button>
</form>
<% } %>

<div class="comment-list-container" id="post-<%= post._id %>-comments-container">
  <!-- if comments are there the show comments or show no comments -->

  <h3 class="comment-heading">Comments</h3>

  <!-- comments List below -->
  <ul id="post-<%= post._id %>-comments-list">
    <!-- for loop for looping over each comment -->

    <% for(comment of post.comments.reverse()) {%>
    <li class="comment-<%= comment._id %> comment">
      <span>
        <span> <%= comment.user.name %> </span>

        <!-- if user logged in and user id same as post.user.id or comment.user.id -->
        <% if (locals.user) { %>
        <!-- checking for authorization -->
        <% if(comment.user.id == locals.user.id || post.user.id == locals.user.id) { %>
        <span>
          <a href="/comments/destroy/<%= comment._id %>" class="delete-comment-button">Delete</a>
        </span>

        <% } %> <% } %>
      </span>
      <p><%= comment.content %></p>
    </li>
    <% } %>
  </ul>
</div>
