<link rel="stylesheet" href="/css/profile.css" />

<div id="background-image-container"></div>
<div id="background-image-overlay"></div>

<main>
  <h1>Welcome <%= user.name %></h1>

  <% if(locals.user.id == profile_user.id) { %>
  <!-- ======================== -->
  <% if (user.avatar) { %>
  <img src="<%= user.avatar %> " alt="<%= user.name %> " width="200px" style="border-radius: 50%" />
  <% } %>
  <h3>Update Your Profile</h3>
  <form action="/user/update/<%= user._id %>" method="POST" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="Enter Name" value="<%= profile_user.name %>" />
    <input type="email" name="email" placeholder="Enter Email" value="<%= profile_user.email %>" />
    <input type="file" name="avatar" id="imgInpt" onchange="loadFile(event)" />
    <img id="image_preview" src="#" alt="Profile Picture" width="300px" />
    <button type="submit">Update Profile</button>
  </form>

  <% } else { %>
  <h3>Here Are <%= profile_user.name %>'s Details</h3>
  <p>Name: <%= profile_user.name %></p>
  <p>Email: <%= profile_user.email %></p>

  <% } %>
</main>
<script src="/js/picture_preview.js"></script>
